streamlit
torch==2.1.0+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0+cpu --index-url https://download.pytorch.org/whl/cpu
diffusers==0.23.1
transformers==4.34.0
accelerate
safetensors
Pillow
